*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

input {
    box-shadow: 2px 2px;
}

textarea {
    width: 100%;
    resize: none;
    border: 2px solid;
    box-shadow: 2px 2px;
    font-family: "Chicago";
    font-size: 12px;
    padding: 4px 8px;
}
